* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff6ea;
    color: #eee;
    font-size: 12px;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;                  
    padding: 0 40px;                
    z-index: 100;
    background-color: #603314;
}

header a {
    color: #eee;
    font-weight: 300;
    margin-right: 40px;
    font-size: 14px;
}

header a:hover {
    color: #7A9445;
    border-bottom: 1px solid #7A9445;
    transition: 0.3s;
}

.logo-header {
    display: flex;
    align-items: center;
    z-index: 200;
}

.logo-img {
    height: 50px;        
    width: auto;
    object-fit: contain;
}

.logo-text {
    height: 50px;    
    width: auto;
    object-fit: contain;
}

.folhas-direita {
    position: fixed;
    top: 0;                 
    right: 0;
    height: 100vh;         
    width: auto;            
    object-fit:cover;      
    pointer-events: none;
    z-index: 3;
}

.folhas-esquerda {
    position: fixed;
    top: 0;                 
    left: 0;
    height: 100vh;         
    width: auto;            
    object-fit: cover;      
    pointer-events: none;
    z-index: 3;
}

.folhas-direita,
.folhas-esquerda {
    max-width: 500px;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.hero-content {
    position: absolute;
    bottom: 15%;
    left: 45%;
    transform: translateY(-50%);
    z-index: 2;
}

.hero-content button {
    width: 180px;
    height: 50px;
    border: none;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s;
}

.hero-content button:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
}

.folhinhas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 88vh;
    width: 600px;
    height: auto;
    z-index: 20;
}

.folhinhas-baixo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90vh;
    width: 600px;
    height: auto;
    z-index: 20;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.item-list {
    width: 100%;
    height: 100%;
    position: absolute;
}

.item-list img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.item-list .content {
    position: absolute;
    top: 20%;
    right: 10%;
    padding-right: 30%;
    width: 80%;
    color: #eee;
    text-shadow: 0 5px 10px #0004;
}

.item-list .content .title {
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}

.item-list .content .description {
    font-size: 1.5em;
}

.item-list .content .buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
}

.item-list .content .buttons button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.item-list .content .buttons button:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: ease-out 0.3s;
}

.item-list .content .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
}

.item-list .content .buttons button:nth-child(2):hover {
    background-color: #eee;
    color: #000;
}

.thumb {
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    gap: 20px;
}

.thumb-item {
    width: 135px;
    height: 200px;
    position: relative;
    z-index: 3;
}

.thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    border-radius: 10px;
}

.thumb .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.arrows {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 120px;
    left: 120px;
    width: 300px;
}

.arrows button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #eee;
    border-radius: 50%;
    cursor: pointer;
}

.arrows button:hover {
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: ease-out 0.3s;
}

/* ANIMAÇÕES */

.container.next .thumb {
    animation: effectNextThumb 0.5s linear forwards;
}

@keyframes effectNextThumb {
    from {
        transform: translateX(150px);
    }
}

.borboleta {
    position: absolute;

    width: 150px !important;
    height: auto !important;

    object-fit: contain;

    z-index: 20;

    left: -200px;
    top: 200px;

    animation:
        voarEntrando 5s ease-in-out forwards,
        asas 0.5s ease-in-out infinite 5s;
}

@keyframes voarEntrando {

    0% {
        left: 120%;
        top: 0%;
        transform: rotate(-20deg) scale(0.8);
    }

    25% {
        top: 40%;
        transform: rotate(15deg);
    }

    50% {
        top: 25%;
        transform: rotate(-10deg);
    }

    75% {
        top: 15%;
        transform: rotate(8deg);
    }

    100% {
        left: 67%;
        top: 20%;
        transform: rotate(0deg) scale(1);
    }
}

@keyframes asas {

    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(0.92);
    }

    100% {
        transform: scaleX(1);
    }
}

.borboleta2 {
    position: absolute;

    width: 150px !important;
    height: auto !important;

    object-fit: contain;

    z-index: 20;

    animation:
        voarBorboleta2 6s ease-in-out forwards,
        asas2 0.6s ease-in-out infinite 6s;
}

@keyframes voarBorboleta2 {

    0% {
        left: -200px;
        top: 60%;

        transform:
            rotate(-30deg)
            scale(0.8);
    }

    25% {
        top: 15%;

        transform:
            rotate(10deg);
    }

    50% {
        top: 35%;

        transform:
            rotate(-8deg);
    }

    75% {
        top: 55%;

        transform:
            rotate(5deg);
    }

    100% {
        left: 24%;
        top: 55%;

        transform:
            rotate(0deg)
            scale(1);
    }
}

@keyframes asas2 {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.93);
    }

    100% {
        transform: scale(1);
    }
}

.container.next .thumb .thumb-item:last-child {
    animation: effectLastThumb 0.5s linear forwards;
}

@keyframes effectLastThumb {
    from {
        width: 0;
        opacity: 0;
    }
}

.container .list .item-list:last-child .content .title,
.container .list .item-list:last-child .content .description,
.container .list .item-list:last-child .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s linear forwards;
}

.container .list .item-list:last-child .content .title {
    animation-delay: 0.2s;
}

.container .list .item-list:last-child .content .description {
    animation-delay: 0.4s;
}

.container .list .item-list:last-child .content .buttons {
    animation-delay: 0.6s;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.container.next .list .item-list:last-child img {
    width: 150px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
    animation: showImg 0.5s linear forwards;
}

@keyframes showImg {
    to {
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        border-radius: 0;
    }
}

.container.back .list .item-list:first-child img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: hideImg 0.5s linear forwards;
    z-index: 2;
}

@keyframes hideImg {
    to {
        width: 135px;
        height: 200px;
        border-radius: 10px;
        bottom: 50px;
        left: 50%;
    }
}

.informacoes {
    width: 100%;
    padding: 150px 10%;
    color: #603314;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacoes h2 {
    font-size: 4em;
    margin-bottom: 30px;
}

.informacoes p {
    font-size: 1.3em;
    line-height: 1.8em;
    max-width: 800px;
}